<ion-content [fullscreen]="true">

  <app-header />

  <ion-list>
    <app-list-item [done]="false" details="blah blah blah blah blah" text="the first thing that you should do"/>
    <app-list-item [done]="false" details="blah  blah details blah details details blah" text="and then you should do this too"/>
    <app-list-item [done]="false" details="blah blah blah blah blah" text="...and this..."/>
    <app-list-item [done]="false" details="blah blah" text="ur so busy!!"/>
    <app-list-item [done]="false" details="blah blah details! they are so so boring." text="anoooooother thing!!! can u believe it!!!?"/>
    <app-list-item [done]="false" details="Is anyone out there? Is anyone reading the details?" text="bro chill its friday :("/> 
  </ion-list>

  
</ion-content>