<ion-content [fullscreen]="true">

  <app-header />

  <ion-list>
    <app-list-item [doneIn]="false" detailsIn="blah blah blah blah blah" textIn="the first thing that you should do"/>
    <app-list-item [doneIn]="false" detailsIn="blah  blah details blah details details blah" textIn="and then you should do this too"/>
    <app-list-item [doneIn]="false" detailsIn="blah blah blah blah blah" textIn="...and this..."/>
    <app-list-item [doneIn]="false" detailsIn="blah blah" textIn="ur so busy!!"/>
    <app-list-item [doneIn]="false" detailsIn="blah blah details! they are so so boring." textIn="anoooooother thing!!! can u believe it!!!?"/>
    <app-list-item [doneIn]="false" detailsIn="Is anyone out there? Is anyone reading the details?" textIn="bro chill its friday :("/> 
  </ion-list>

  
</ion-content>